<div class="container container-vertical">
  <div class="row vertical-center-row">
    <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
      <h2 class="medium-label">You are chiftain of small settlemanet. Are you ready for challenge? <small>Economic Symulation prototype</small></h2>
      <div class="form-group text-center">
        <button ng-click="startGame()" type="text" class="btn btn-lg btn-default">Start Game <span class="glyphicon glyphicon-pencil"></span></button>
      </div>
    </div>
  </div>
</div>