<div class="row">
  <div class="sidemenu">
    <a ui-sref="game.dashboard"><span class="glyphicon glyphicon-list-alt"></span> Dashboard</a>
  </div>
</div>
<div class="row">
  <div class="sidemenu">
    <a ui-sref="game.buildings"><span class="glyphicon glyphicon-home"></span> Buildings</a>
  </div>
</div>
<div class="row">
  <div class="sidesubmenu">
    <a ui-sref="game.buildings"> Show List</a>
  </div>
</div>
<div class="row">
  <div class="sidesubmenu">
    <a ui-sref="game.buildings.construct"> Construct</a>
  </div>
</div>
<div class="row">
  <div class="sidemenu">
    <a ui-sref="game.resources"><span class="glyphicon glyphicon-calendar"></span> Resources</a>
  </div>
</div>