<div class="nav-line">
  <div class="day-col">
    dzień<br/>
    {{day}}
  </div>
  <div class="resource-col">
    wood<br/>
    {{resources.wood}}
  </div>
  <div class="resource-col">
    food<br/>
    {{resources.food}}
  </div>
  <div class="resource-col">
    stone<br/>
    {{resources.stone}}
  </div>
  <div class="resource-col">
    iron<br/>
    {{resources.iron}}
  </div>
  <div class="resource-col">
    tools<br/>
    {{resources.tools}}
  </div>
  <div class="resource-col">
    weapons<br/>
    {{resources.weapons}}
  </div>
</div>